<div class="jumbotron info-block" id="about">
    <div class="container text-center">
        <h2 class="margin-bottom-50">Hi, I'm Courtney!</h2>

        <img src="images/quartz.jpg" class="img-circle margin-bottom-50" width="300" height="300" alt="">
        <h4>I am a gem</h4>

    </div>
</div>

<ng-include src="'views/experience.html'"></ng-include>

<div class="jumbotron" id="pets">
    <div class="container">
        <h2 class="margin-bottom-50 text-center">Meet my pets</h2>

        <div class="row margin-bottom-50 text-xs-center">
            <div class="col-sm-3 col-sm-offset-2">
                <img src="images/quartz.jpg" class="img-circle" width="200" height="200" alt="">
            </div>
            <div class="col-sm-4 text-sm-right">
                <h2>Chase</h2>
                <h4>text goes here</h4>
            </div>
        </div>


        <div class="row margin-bottom-50 text-xs-center">
            <div class="col-sm-3 col-sm-push-7">
                <img src="images/quartz.jpg" class="img-circle" width="200" height="200" alt="">
            </div>
            <div class="col-sm-4 col-sm-pull-6 col-sm-offset-5 text-sm-left">
                <h2>Phoebe</h2>
                <h4>text goes here</h4>
            </div>
        </div>



        <div class="row margin-bottom-50 text-xs-center">
            <div class="col-sm-3 col-sm-push-7">
                <img src="images/quartz.jpg" class="img-circle" width="200" height="200" alt="">
            </div>
            <div class="col-sm-4 col-sm-pull-6 col-sm-offset-5 text-sm-left">
                <h2>Bella</h2>
                <h4>text goes here</h4>
            </div>
        </div>

        <div class="row margin-bottom-50 text-xs-center">
            <div class="col-sm-3 col-sm-push-7">
                <img src="images/quartz.jpg" class="img-circle" width="200" height="200" alt="">
            </div>
            <div class="col-sm-4 col-sm-pull-6 col-sm-offset-5 text-sm-left">
                <h2>Tiger</h2>
                <h4>text goes here</h4>
            </div>
        </div>
    </div>
</div>
