<div class="jumbotron info-block" id="about">
    <div class="container text-center">
        <h2 class="margin-bottom-50">Hi, I'm Courtney!</h2>

        <img src="images/quartz.jpg" class="img-circle margin-bottom-50" width="300" height="300" alt="">
        <h4>I am a gem</h4>

    </div>
</div>

<ng-include src="'views/experience.html'"></ng-include>

<div class="jumbotron pets-block" id="pets">
    <div class="container">
        <h2 class="margin-bottom-50 text-center">Meet my pets</h2>

        
        <div class="row">
            <div class="col-sm-3 text-center margin-bottom-xs-90 right-border">
                <img src="images/quartz.jpg" class="img-circle margin-bottom-sm-30" width="200" height="200" alt="">
                <br>
                <h2>Chase</h2>
            </div>
            <div class="col-sm-3 text-center margin-bottom-xs-90 right-border">
                <img src="images/quartz.jpg" class="img-circle margin-bottom-sm-30" width="200" height="200" alt="">
                <br>
                <h2>Phoebe</h2>
            </div>
             <div class="col-sm-3 text-center margin-bottom-xs-90 right-border">
                <img src="images/quartz.jpg" class="img-circle margin-bottom-sm-30" width="200" height="200" alt="">
                <br>
                <h2>Bella</h2>
            </div>
            <div class="col-sm-3 text-center margin-bottom-xs-90">
                <img src="images/quartz.jpg" class="img-circle margin-bottom-sm-30" width="200" height="200" alt="">
                <br>
                <h2>Tiger</h2>
            </div>
        </div>
        
     
    </div>
</div>
