<div class="jumbotron gallery-block" id="gallery">

    <div class="container text-center">
        <h2 class="margin-bottom-50">Meet my happy customers</h2>
        <div class="row margin-bottom-50">
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-thumbnail" alt="">
            </div>
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-thumbnail" alt="">
            </div>
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-thumbnail" alt="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-thumbnail" alt="">
            </div>
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-thumbnail" alt="">
            </div>
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-thumbnail" alt="">
            </div>
        </div>

    </div>
</div>
