<div class="jumbotron testimonials-block" id="testimonials">
    <div class="container">
        <h2 class="text-center">Testimonials</h2>

        <blockquote class="blockquote">
            <p>Courtney is awesome and very trustworthy! She is a dependable dog loving person that cares for my dogs as if they were her own. Since I found Courtney she is my go to dog sitter everytime! A++++</p>

            <footer>Kim T.</footer>
        </blockquote>

        <blockquote class="blockquote">
            <p>Courtney is awesome and very trustworthy! She is a dependable dog loving person that cares for my dogs as if they were her own. Since I found Courtney she is my go to dog sitter everytime! A++++</p>

            <footer>Kim T.</footer>
        </blockquote>

    </div>
</div>