<div class="jumbotron info-block" id="about">
    <div class="container text-center">
        <h2 class="margin-bottom-50">Hi, I'm Courtney!</h2>

        <img src="images/quartz.jpg" class="img-circle margin-bottom-50" width="300" height="300" alt="">
        <h4>I am a gem</h4>

    </div>
</div>

<ng-include src="'views/experience.html'"></ng-include>

<div class="jumbotron" id="pets">
    <div class="container text-center">
        <h2 class="margin-bottom-50">Meet my pets</h2>

        <div class="row margin-bottom-50">
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-circle pull-left" width="300" height="300" alt="">
            </div>
            <div class="col-sm-4 text-center">
                <h2 class="margin-bottom-50">Chase</h2>
                <h4>text goes here</h4>
            </div>
        </div>

        <div class="row margin-bottom-50">
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <h2 class="margin-bottom-50">Phoebe</h2>
                <h4>text goes here</h4>
            </div>
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-circle pull-left" width="300" height="300" alt="">
            </div>
        </div>
        
        <div class="row margin-bottom-50">
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <h2 class="margin-bottom-50">Bella</h2>
                <h4>text goes here</h4>
            </div>
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-circle pull-left" width="300" height="300" alt="">
            </div>
        </div>
        
         <div class="row margin-bottom-50">
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <h2 class="margin-bottom-50">Tiger</h2>
                <h4>text goes here</h4>
            </div>
            <div class="col-sm-4">
                <img src="images/quartz.jpg" class="img-circle pull-left" width="300" height="300" alt="">
            </div>
        </div>
    </div>
</div>

