<div class="jumbotron contact-block" id="contact">
    <div class="container">
        <h2 class="text-center">Get in touch
        </h2>
        <h4 class="text-center">Let's talk about your pets</h4>

        <div class="col-sm-6 text-center">
            <!--
            <h2><span class="fa-stack fa-2x">
                <i class="fa fa-circle-o fa-stack-2x icon-background"></i>
                <i class="fa fa-phone fa-stack-1x"></i>
                </span>
            </h2>-->

            <h3>phone</h3>
            <h4 class="contact-info">(443) 975-8119</h4>
        </div>
        <div class="col-sm-6 text-center">
            <h3>email</h3>
            <h4 class="contact-info">courtneyhamm@comcast.net</h4>
        </div>
    </div>
</div>

