<div id="map"></div>


<!--GOOGLE MAPS API-->
<script>
    function initMap() {
        var uluru = {
            lat: 39.391839,
            lng: -76.609962
        };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru,
            scrollwheel: false
        });

        var serviceAreaCircle = new google.maps.Circle({
            strokeColor: '#99B3CC',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#99B3CC',
            fillOpacity: 0.35,
            map: map,
            center: uluru,
            radius: 28000
        });

    }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsdzgnARjeBgSC9yz4exdTRIlhYmJNqNo&callback=initMap"></script>