@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
    .margin-bottom-xs-90 {
        margin-bottom: 70px
    }
    .fixed-top {
        position: fixed !important;
        left: 0;
        right: 0;
        z-index: 900
    }
    .content {
        padding-top: 50px
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .text-sm-left {
        text-align: left;
    }
    .text-sm-right {
        text-align: right;
    }
    .text-sm-center {
        text-align: center;
    }
    .margin-bottom-sm-30 {
        margin-bottom: 30px
    }
    .right-border:after {
        content: "";
        position: absolute;
        right: 0;
        z-index: 100;
        top: 50px;
        width: 2px;
        height: 35%;
        background: #555;
    }
}

html, body{
    height: 100%;
}

.navbar-toggle {
    border: 0
}

.menu-btn {
    color: rgb(34, 184, 141);
}

nav {
    box-shadow: 2px 0 12px #544f54;
}

.content {
    font-family: Avenir, Helvetica Neue, Segoe UI, Roboto, sans-serif;
}

.navbar {
    font-family: Avenir, Helvetica Neue, Segoe UI, Roboto, sans-serif;
}

.lead {
    font-family: Avenir, Helvetica Neue, Segoe UI, Roboto, sans-serif;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    margin-bottom: 0;
}

.img-thumbnail {
    width: 260px;
    height: 260px
}

.fa {
    margin-right: 10px
}

.margin-bottom-50 {
    margin-bottom: 50px
}

.margin-top-15 {
    margin-top: 15px
}

.service {
    font-weight: normal
}

.contact-info {
    font-weight: normal
}

.info-block {
    background-color: rgb(34, 184, 141);
    color: white
}

.gallery-block {
    background-color: white
}

.pets-block {
    background-color: white
}

.link-blocks {
    background-color: white
}

.link-blocks-heading {
    padding-bottom: 50px;
}

.app-block {
    margin-bottom: 50px
}

.contact-block {
    background-color: rgb(34, 184, 141);
    color: white;
}

.fade-out.ng-hide {
    opacity: 0;
}

.fa-padding {
    padding: 5px
}

.testimonials-block {
    background-color: white
}

#map {
    height: 400px;
    width: 100%;
}

.experience-container {
    height: 300px
}

.aquarium-image {
    position: absolute;
    width: 100%;
    height: 300px;
    /*    use denim effect in photos app*/
    background-image: url('images/aquarium.jpg');
    background-size: cover;
}

.zoo-image {
    position: absolute;
    width: 100%;
    height: 300px;
    /*    use denim effect in photos app*/
    background-image: url('images/aquarium.jpg');
    background-size: cover;
}

.kennel-image {
    position: absolute;
    width: 100%;
    height: 300px;
    /*    use denim effect in photos app*/
    background-image: url('images/aquarium.jpg');
    background-size: cover;
}

.overlay-text {
    position: absolute;
    color: #ffffff;
}

.dim-bg {
    display: inline-block;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 15px;
}

.zoo-experience {
    height: 300px
}

.kennel-experience {
    height: 300px
}

.experience-text {
    margin-top: 50px;
}



.job-image{
    height: 250px;
    color: #ffffff;
}

.experience-bullets {
    padding: 50px 5%;
    height: 100%;
    background-color: #1B1B1B;
}

.experience-zoo{
    width: 100%;
    /*    use denim effect in photos app*/
    background-image: url('images/aquarium.jpg');
}


.horizontal-divider {
    color: #1B1B1B;
    border: 0;
    width: 80%;
    border-top: 5px solid #1B1B1B;
    border-right: 20px solid #1B1B1B;
}

.job-block{
    padding: 50px 5%;    
    height: 30%;
    text-align: center;
}

.job{
    font-size: 5rem;
    font-weight: bold
}

.job-location{
    font-size: 2rem
}

.job-description{
    font-size: 2rem;
    padding: 15px 0;
}

/*
.fa {
    top: 0px;
}
*/


/*
.experience-content {
         position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
}
*/

.aquarium-color {
    background-color: rgb(34, 152, 184);
    color: white
}

.zoo-color {
    background-color: rgb(184, 66, 34);
    color: white
}

.kennel-color {
    background-color: rgb(184, 141, 34);
    color: white
}

.footer {
    background-color: #1B1B1B;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.red {
    background-color: red
}
